.box__form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 350px;
    width: 100%;
    
}
.form__checkbox{
    display: block;
    max-width: 25px;
}
.form__input{
    display: block;
    max-width: 250px;
}
.form__button{
    display: block;
    max-width: 40px;
}