.todo{
    max-width: 350px;
    margin: auto;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.todo__title{
    color: blue;
}
.todo__form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
.todo__form-input{
    display: block;
}    

.todo__form-button{
    display: block;
    max-width: 40px;
}